{% extends 'base2.html' %}
{% load static %}

{% block content %}
<section class="jumbotron text-center">
  <div class="container" img src="static/images/background.jpg">
    {% comment %} <h1>꿀팁존</h1>
    <p class="lead text-muted">THE CAMP로 군대 꿀팁 알아보기</p> {% endcomment %}
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="card-columns">
      <div class="card mb-4 shadow-sm">
        <!-- Image -->
        {% if items.image %}
        <img src="{{ items.image.url }}" class="card-img-top" alt="Items_Image">
        {% else %}
        <svg class="bd-placeholder"></svg>
        {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ items.name }}</h4>
          <br>
          <p class="card-text">{{ items.description }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              {%comment%}<a href="{% url 'cosmetics' items.id %}" class="btn btn-sm btn-outline-secondary">자세히
                알아보기</a>{%endcomment%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}