{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/login.css' %}{% endblock %}

{% block content %}

<div class="wall"></div>
<div class="container">

    <div class="wall"></div>
    <div class="card" style="width: 400px; height: 500px">

        <h2 id="login_title t4">로그인</h2>
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="login_line">
                <h3 class="login_sub_title">아이디</h3>
                <input class="login_text_box" type="text" name="username" required>
            </div>
            <div class="login_line">
                <h3 class="login_sub_title">비밀번호</h3>
                <input class="login_text_box" type="password" name="password" required>
            </div>
            <div class="login_line">
                <input class="btn" style="width:100%" type="submit" value="로그인">
            </div>
        </form>

    </div>

</div>


{% endblock %}