{% extends "base.html" %}
{% load static %}

{% block title %}질문-수정{% endblock %}
{% block style %}{% static 'css/create.css' %}{% endblock %}
{% block title2 %}질문-수정{% endblock %}
{% block content %}
<!-- 작성 -->
    <form method="POST" action="">
        {% csrf_token %}
        <input id="title_box" type="text" name="title" placeholder="제목을 입력해주세요." value={{myPost.title}} required>
        <textarea id="content_box" name="content" placeholder="내용을 입력해주세요." required>{{myPost.content}}</textarea>

        <div id="btn_set">
            <input class="btn" type="submit" value="확인">
            <a href="{% url 'question_detail' myPost.id %}">
                <button class="btn" type="button" formnovalidate>취소</button>
            </a>
        </div>
    </form>
    
{% endblock %}