/* 전체 요소 flexbox로 전환, 가운데 정렬 */
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*본문 제목, 왼쪽으로 정렬 */
#main_title{
    align-self: flex-start;
}

/* 메뉴바 색상, 크기 설정 */
#menubar{
    width: 100%;
    height: 50px;
    background-color: rgb(74, 153, 167);
}

/*메뉴바 ul 점 제거 */
#menubar_ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

/*메뉴바 li 설정, 가로정렬, 간격*/
.menubar_li{
    float: left;
    color: b;
    margin-left: 100px;
    margin-right: 100px;
}

/* hr태그 설정 */
.line1{
    margin-top: 100px;
    margin-bottom: 10px;
    width: 80%;
    border: 0;
    height: 2px;
    background: #d49a89;;
}

.line2{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    border: 0;
    height: 0.5px;
    background: #d49a89;
}

/* 타이틀 부분 타이틀 */
#login_title{
    align-self: flex-start;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}