<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" >
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/letter.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/letter.css' %}"/>



</head>

<body>
<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>

    <div class="header">
        <div class="logo-box"></div>
        <ul class="menu-box">
            <a href="{% url 'home' %}">
                <li로 style="font-size:20px;">
                    홈으
                </li로>
            </a>
            <a href="{% url 'mypage' %}">
                <li>
                    마이페이지
                </li>
            </a>
            <a href="{% url 'login' %}">
                <li>
                    로그인
                </li>
            </a>
            <a href="{% url 'logout' %}">
                <li>
                    로그아웃
                </li>
            </a>
            <a href="{% url 'signup_select' %}">
                <li>
                    회원가입
                </li>
            </a>
        </ul>
    </div>


<div class="letter-title"style="margin-top:70px;">
    <h1 class="section-title" style="margin:auto">위문 편지</h1>
    <div class="title-underline"></div>
    <h1 class="section-title">
        <a href="{% url 'letter-create' %}" class="letter-card-link" style="margin:auto">편지 작성</a>
    </h1>
</div>


<div class="carousel-wrapper">
    <div class="carousel" data-flickity>
        {% for item in letters %}
        <div class="carousel-cell" onclick="myFunction({{item.id}})">
            <h3 id="title{{item.id}}">{{item.title }}</h3>
            <p class="card-text" id="comment{{item.id}}" style="display: none">
                            {{ item.comment }}</p>
            <a class="more" id="created-at{{item.id}}" href="">{{ item.created_at }}</a>
            {% if item.img %}
            <img id="image{{item.id}}" src="{{ item.img.url }}" , alt="">
            {% endif %}
            <div class="line"></div>
            <div class="price">
        <span><form class="button-history" action="{% url 'letter-update' %}?id={{ item.id }}"
                    name="update"
                    method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light btn-sm" style="display:flex">수정</button>
                            <br/>
                        </form>
                        <form class="button" action="{% url 'letter-delete' id=item.id %}"
                              onsubmit="return getConfirmation()"
                              name="delete"
                              method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-light btn-sm" style="float:left">삭제</button>
                        </form><sup></sup></span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="letter-bottom">
<div class="containor" style="padding:5%; margin-top:10%;">
<div class="card-deck" style="width:500px; margin:auto;">
  <div class="card">
    <img class="card-img-top" id="img" src="{% static 'image/army.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" id="demo-title" style="font-size:20px">상단에 있는 편지를 클릭해주세요.</h5>
      <p class="card-text" id="demo-comment"style="font-size:15px"></p>
    </div>
    <div class="card-footer">
      <small class="text-muted" id="demo-create-at" style="font-size:12px"></small>
    </div>
  </div>
</div>
</div>


</body>

</html>